body {
    background: #e5e5e5;
}
.table-wrapper {
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.table {
    background-color: #FFFFFF;
}
table {
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.btn,
.modal-content {
    border-radius: 10px;
}
.create-product {
    background: #63c76a;
    color: #FFFFFF;
    border-radius: 0px;
    transition: background-color 0.3s, box-shadow 0.3s;  
}
.create-product:hover {
    color: #FFFFFF;
    background: #49E845;
}
.img-wrapper {
    padding: 10px;
    width: 200px;
    height: 100px;
}
.modal-img-wrapper {
    padding: 10px;
    width: 300px;
    height: 180px;
    max-width: 100%;
    max-height: 100%;
}
.product-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.table td, tr {  
    text-align: center;
    vertical-align: middle;
}
.td-img {
    max-width: 300px;
}
.validation {
    font-size: 10px;
}
.fa-times-circle {
    cursor: pointer;
}
.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 36px; padding: 0; margin: 0px; line-height: 36px;
    border: 2px solid #E3E3E3; border-radius: 36px;
    background-color: #E3E3E3;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 36px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 22px;
    border: 2px solid #E3E3E3; border-radius: 36px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox.checked + .onoffswitch-label {
    background-color: #49E845;
}
.onoffswitch-checkbox.checked + .onoffswitch-label,
.onoffswitch-checkbox.checked + .onoffswitch-label:before {
   border-color: #49E845;
}
.onoffswitch-checkbox.checked + .onoffswitch-label:before {
    right: 0px; 
}
html, body, .container {
    min-height: 100% !important;
    height: 100%;
}